.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.nav-credentials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 20px;
}

/* Logo */

.logo {
  font-size: 2rem;
  font-weight: 300;
}

.logo-bold {
  font-weight: 900;
}

/* End Logo */
